//  Import bulma scss styles
@import '../node_modules/bulma/bulma';

//  Import sass partials
@import "variables";
@import "generic_classes";

#hero {
   background: url("../images/macbook-air.jpg");
   height: 500px;
   background-size: cover;
}

#services .service-buttons {
   justify-content: center;
}