//  Import bulma scss styles
@import '../node_modules/bulma/bulma';

//  Import sass partials
@import "variables";
@import "generic_classes";

#hero {
   background: url("../images/macbook-air.jpg");
   height: 500px;
   background-size: cover;
}

#services .service-buttons {
   justify-content: center;
}

#contact {
   background: url('../images/contact-us.jpg');
   background-size: cover;
}

@media screen and (max-width: 768px) {

   #contact .quotes p,
   #contact .quotes span {
      font-size: 1.5rem !important;
      margin: 0 !important;
      padding: 0 !important;
      text-align: center !important;
   }
}